# Dependencies
node_modules/

# Production build
dist/
build/

# Environment and Secrets
.env
.env.local
.env.*.local
*.pem
github-recovery-codes.txt
client_secret*.json
*.secret

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
